<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Control Panel</title>
    <link rel='stylesheet' href='/static/styles.css'>
</head>
</body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" id="navbar-items">
                    <li><p class="text-light" style="padding: 5px">颜</p></li>
                    <li><input id="l_arg" class="form-control" style="width: 100px"></li>
                    <li><p class="text-light" style="padding: 5px">色</p></li>
                    <li><input id="x_arg" class="form-control" style="width: 100px"></li>
                    <li><a id="select_random" class="nav-link js-scroll-trigger">TRY ME</a></li>
                    <li><a id="sample" class="nav-link js-scroll-trigger">SAMPLE</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="main">
        <div class="row" id="first">
        </div>
    </div>
<body>
    <script type="module" src="/static/main.js"></script>
</html>
